* {
    box-sizing: border-box;
}

.filebrowser-icon {
    width: 32px;
}

.filebrowser-icon *{
    vertical-align: middle;
}

.filebrowser-root-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse; 
}

.filebrowser-col-header,
.filebrowser-col {
    text-align: left;
    user-select: none;
}

.filebrowser-col-header {
    text-transform: capitalize;
    min-height: 30px;
}

.filebrowser-col-header svg {
    vertical-align: middle;
    height: 20px;
}

.filebrowser-row:not(.filebrowser-header):hover{
    border: 1px solid darkgray;
}

.filebrowser-action:not(.filebrowser-action-disabled):hover,
.filebrowser-row:not(.filebrowser-header):hover,
.filebrowser-row-selected {
    background-color: grey;
}
.filebrowser-action,
.filebrowser-row:not(.filebrowser-header) {
    transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
    border: 1px solid transparent;
}

.filebrowser-row{
    vertical-align: middle;
    user-select: none;
}

.filebrowser-row > td {
    padding: 5px 0px;
}

.filebrowser-action-disabled {
    filter: grayscale();
    user-select: none;
    color: grey;
    cursor: default;
}


.filebrowser-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filebrowser-action {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
}
