body, html {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

#root {
    height: 100%;
}

div {
    outline: none;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

@keyframes scrollLeft {
    from {
        transform: translateX(0%);
    }
    to {}
}

@keyframes blink {
    50% {
        visibility: hidden;
    }
}
